<p>Здравствуйте,</p>
<p>Это проверочный код для входа/регистрации в приложении СОРТИРУЙ</p>
<p>
  <span>{{ confirmCode }}</span>
</p>

<p>Если Вы не запрашивали код, то просто проигнорируйте пожалуйста это письмо.</p>